* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ' Montserrat ', Arial;
}

header {
    margin: 40px 21px 50px 30px;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    color: #989D9C;
}

.link {
    margin: 20px;
}

.button_login {
    width: 130px;
    height: 41px;
    border-radius: 50px;
    color: #FFFFFF;
    background-color: #665AE1;
    border: none;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

.image_dog {
    width: 568px;
    height: 500px;
    margin-left: 120px;
    display: inline-block;
}

.box_wecare {
    display: inline-block;
    margin: 0px 0px 0px 100px;
}

.Main_title {
    width: 513px;
    height: 122px;
    font-size: 100px;
    color: #515151;
    font-weight: 900;
}

.Secondary_title {
    width: 448px;
    height: 71px;
    font-size: 58px;
    line-height: 74px;
    color: #515151;
    font-weight: 500;
}

p {
    width: 515px;
    height: 87px;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    font-weight: 400;
    margin: 32px 0px 130px 0px;
}

.button_explore {
    width: 240px;
    height: 64px;
    border-radius: 30px;
    background-color: #ADFF00;
    color: #000000;
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 900px) {

    header {
        display: none;
    }

    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image_dog {
        Width: 354px;
        Height: auto;
        margin: 150px auto 30px auto;
        display: block;
    }

    .box_wecare {
        width: 354px;
        height: auto;
        
        
    }

    .Main_title {
        width: 263px;
        height: 52px;
        font-size: 50px;
        text-align: center;
    }

    .Secondary_title  {
        width: 232px;
        height: 37px;
        font-size: 30px;
        text-align: center;
        align-content: center;
    }

    p {
        display: none;
    }

    .button_explore {
        margin: 25px auto;
    }
}